// pankaj

// 29/09/2024

:root {
    --background: #ffffff;
    --foreground: #171717;
    --text-color: #171a20;
    --green-color: #4b8153;
}

.header-sec {
    padding: 10px 35px;
    position: fixed;
    width: 100%;
    top: 10px;
    left: 0px;
    z-index: 555;
    // background-color: #fff;

    .main-logo {
        img {
            width: 120px;
            height: 30px;
            object-fit: contain;
            cursor: pointer;
            // filter: invert(1);
        }
    }

}

.hero-sec {
    width: 100%;
    height: 100vh;
    // margin-top: 87px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #000000;
        opacity: 0.5;
        z-index: 1;
    }

    img {
        width: 100%;
        height: 100%;

    }
}

.main-menu,
.main-menu-right {
    ul {
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        list-style: none;

        li {
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;

            a {
                font-size: 16px;
                color: var(--text-color);
                font-weight: 500;
                transition: all 1.5s;
                color: #fff;
            }

            &:hover {
                background-color: #4b8153;

                img {
                    filter: invert(1);
                }
            }

            &:hover .acoustic-solution {
                display: block !important;
            }
        }
    }
}

.menu-icons {
    justify-content: end !important;
    gap: 5px !important;

    img {
        width: 22px;
        height: 22px;
        object-fit: contain;
        // filter: invert(1);
    }

    i {
        border: 1px solid #000;
    }
}

.acoustic-solution {
    // display: none;
    // margin-top: -50px;
    background-color: #fff;
    z-index: 5555;
    width: 100%;
    height: auto;
    // padding: 35px;
    z-index: 5555;
}

.acoustic-solution.show {
    // display: block;
}

.cnnters-list-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;

    .cnnter-div {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;

        img {
            width: 250px;
            height: 200px;
            object-fit: contain;
        }

        .cnnter-div-heading {
            font-size: 17px;
            font-weight: 500;
            color: var(--text-color);
            margin: 0px;
            cursor: pointer;

        }

        p {
            font-size: 17px;
            color: #848484;
            transition: all 1s;

            &:hover {
                color: var(--green-color);
                text-decoration: underline;
            }
        }
    }
}

.item-list {
    padding-left: 25px;
    border-left: 1px solid #c1c1c1;
    margin-top: 35px;
    text-align: start;

    &.no-border {
        border: none !important;
    }

    h4 {
        color: var(--text-color);
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 15px;
        padding-left: 5px;
    }

    ul {
        padding: 0px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            padding: 5px;

            .item-option {
                font-size: 16px;
                color: var(--text-color) !important;
                font-weight: 500;
                text-align: left;

                &:hover {
                    text-decoration: underline;
                    color: var(--green-color) !important;
                }
            }


        }
    }
}

.theme-btn {
    width: 265px;
    height: 42px;
    padding: 6px 25px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: 2px solid #4b8153;
    background-color: #4b8153;
    color: #fff;
    cursor: pointer;

    white-space: nowrap;
    z-index: 5;
}

.theme-btn-hollow {
    width: 265px;
    height: 42px;
    padding: 6px 25px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
    cursor: pointer;

}

.btn-sec {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 150px;
    left: 30%;
    white-space: nowrap;
    z-index: 5;
}

.hero-title {
    font-size: 42px;
    line-height: 35px;
    text-align: center;
    font-weight: 600;
    color: white;
    position: absolute;
    bottom: 35%;
    left: 27%;
    z-index: 5;


}



/* Navbar container should be relative */
.navbar-container {
    position: relative;
    /* This ensures the mega menu's absolute position is aligned to the body */
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0px;
    left: 0px;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    position: relative;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.nav-item {
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    transition: all 0.2s;
    align-content: center;

    a {
        color: #000;
        font-weight: 500;
    }
}

.nav-item:hover {
    background-color: #4b8153;

    a {
        color: #fff !important;
    }

}

/* Mega menu should be positioned relative to the body */
.mega-menu {
    position: absolute;
    top: 51px;
    left: 0;
    /* Align to the left of the body */
    width: 100vw;
    /* Full screen width */
    background-color: #fff;
    padding: 1rem 5vw;
    /* Padding for content to not touch screen edges */
    display: none;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 99999;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        // background-color: #000000;
        opacity: 1;
        bottom: -100%;
        left: 0px;
        backdrop-filter: blur(10px);
    }
}

.nav-item:hover .mega-menu {
    display: block;
}

.mega-menu-content-old {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    /* Spread out columns */
    max-width: 1200px;
    /* Max-width for the content inside */
    margin: 0 auto;
}

.menu-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.menu-column img {
    width: 150px;
    height: auto;
}

.menu-column h3 {
    margin-top: 0.5rem;
}

.menu-column a {
    text-decoration: none;
    color: #007aff;
    margin-top: 0.5rem;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-list h3 {
    margin: 0;
    font-size: 1.1rem;
}


.cargo-containers-mega-menu {
    .acoustic-megamenu-sec {
        .cnnters-list-flex {
            justify-content: center;

            .cnnter-div {
                width: 20%;

                img {
                    width: 200px;
                    height: 150px;
                }
            }
        }
    }
}

.cntnr-imgg {
    padding-top: 15px;

    img {
        width: 100% !important;
        height: 300px !important;
        object-fit: cover;
        border-radius: 12px;

    }
}

// 20/oct/2024

.home-img-section {
    position: relative;
    width: 100%;
    height: 620px;
    min-height: 620px;
    overflow: hidden;
    border-radius: 15px;
    padding: 60px 15px 25px;
    margin: 50px 15px 0px;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        object-fit: cover;
        z-index: 2;
    }

    video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        object-fit: cover;
        z-index: 2;
    }

    .img-section-content {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 5;

        h1 {
            text-align: center;
            color: #fff;
            font-weight: 600;
            font-size: 46px;
            line-height: 50px;
        }

        p {
            text-align: center;
            color: #fff;
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;

        }

        .btn-sec {
            position: unset !important;
        }
    }
}

.footer-sec {
    padding: 60px 10px;
    background-color: #4b8153;

    .footer-info {
        margin-top: -25px;
        img {
            width: 130px;
            height: 100px;
            object-fit: contain;
            filter: invert(1);
        }

        p {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }
    }

    .fttr-clm {
        h4 {
            font-size: 21px;
            font-weight: 600;
            color: #f1b24b;
            margin-bottom: 20px;
        }

        ul {
            padding: 0px;
            list-style: none;
            display: flex;
            gap: 15px;
            flex-direction: column;

            li {
                a {
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;

                    &:hover {
                        i {
                            color: #f1b24b;
                        }
                    }

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .contact-us-ftr {
        li{
            color: #fff;
            display: flex;
            gap: 10px;
        }
        i {
            width: 25px;
            height: 25px;
            line-height: 25px;
            border-radius: 5px;
            background: #f1b24b;
            text-align: center;
            color: #4b8153;        
            font-size: 13px;
        }
    }
}

.socials-icons{
    display: flex;
    gap: 12px;
    justify-content: center;
    height: 70px;
    img{
        width: 35px;
        height: 35px;
        object-fit: contain;
        filter: grayscale(1);
        transition: all 0.3s;
        &:hover{
            margin-bottom: 7px;
            filter: grayscale(0);

        }
    }
}

.copy-right-section{
    padding: 25px 0px 5px;
    margin-top: 40px;
    border-top: 1px solid #c1c1c1a2;
    text-align: center;
    color: #fff;
}