// pankaj

// 29/09/2024

:root {
    --background: #ffffff;
    --foreground: #171717;
    --text-color: #171a20;
    --green-color: #4b8153;
}

body {
    font-family: "Poppins", sans-serif !important;
}

a {
    text-decoration: none !important;
}

.main_wrapper {
    padding-top: 66px;
}


.header-sec {
    padding: 10px 35px;
    position: fixed;
    width: 100%;
    top: 10px;
    left: 0px;
    z-index: 555;
    // background-color: #fff;

    .main-logo {
        img {
            width: 120px;
            height: 30px;
            object-fit: contain;
            cursor: pointer;
            // filter: invert(1);
        }
    }

}

.hero-sec {
    width: 100%;
    height: 100vh;
    // margin-top: 87px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #000000;
        opacity: 0.5;
        z-index: 1;
    }

    img {
        width: 100%;
        height: 100%;

    }
}

.main-menu,
.main-menu-right {
    ul {
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        list-style: none;

        li {
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;

            a {
                font-size: 16px;
                color: var(--text-color);
                font-weight: 500;
                transition: all 1.5s;
                color: #fff;
            }

            &:hover {
                background-color: #4b8153;

                img {
                    filter: invert(1);
                }
            }

            &:hover .acoustic-solution {
                display: block !important;
            }
        }
    }
}

.menu-icons {
    justify-content: end !important;
    gap: 5px !important;

    img {
        width: 22px;
        height: 22px;
        object-fit: contain;
        // filter: invert(1);
    }

    i {
        border: 1px solid #000;
    }
}

.acoustic-solution {
    // display: none;
    // margin-top: -50px;
    background-color: #fff;
    z-index: 5555;
    width: 100%;
    height: auto;
    // padding: 35px;
    z-index: 5555;
}

.cnnters-list-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;

    .cnnter-div {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;

        img {
            width: 250px;
            height: 200px;
            object-fit: contain;
        }

        .cnnter-div-heading {
            font-size: 17px;
            font-weight: 500;
            color: var(--text-color);
            margin: 0px;
            cursor: pointer;

        }

        p {
            font-size: 17px;
            color: #848484;
            transition: all 1s;

            &:hover {
                color: var(--green-color);
                text-decoration: underline;
            }
        }
    }
}

.item-list {
    padding-left: 25px;
    border-left: 1px solid #c1c1c1;
    margin-top: 35px;
    text-align: start;

    &.no-border {
        border: none !important;
    }

    h4 {
        color: var(--text-color);
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 15px;
        padding-left: 5px;
    }

    ul {
        padding: 0px;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            padding: 5px;

            .item-option {
                font-size: 16px;
                color: var(--text-color) !important;
                font-weight: 500;
                text-align: left;

                &:hover {
                    text-decoration: underline;
                    color: var(--green-color) !important;
                }
            }


        }
    }
}

.theme-btn {
    width: 265px;
    height: 42px;
    padding: 6px 25px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: 2px solid #4b8153;
    background-color: #4b8153;
    color: #fff;
    cursor: pointer;

    white-space: nowrap;
    z-index: 5;
}

.theme-btn-hollow {
    width: 265px;
    height: 42px;
    padding: 6px 25px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
    cursor: pointer;

}

.btn-sec {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 150px;
    left: 30%;
    white-space: nowrap;
    z-index: 5;
}

.hero-title {
    font-size: 42px;
    line-height: 35px;
    text-align: center;
    font-weight: 600;
    color: white;
    position: absolute;
    bottom: 35%;
    left: 27%;
    z-index: 5;


}



/* Navbar container should be relative */
.navbar-container {
    // position: relative;
    /* This ensures the mega menu's absolute position is aligned to the body */
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fff;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 0px;
    position: relative;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.nav-item {
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    transition: all 0.2s;
    align-content: center;

    a {
        color: #000;
        font-weight: 500;
    }
}

.nav-item:hover {
    background-color: #4b8153;

    a {
        color: #fff !important;
    }

}

/* Mega menu should be positioned relative to the body */
.mega-menu {
    position: absolute;
    top: 51px;
    left: 0;
    /* Align to the left of the body */
    width: 100%;
    /* Full screen width */
    background-color: #fff;
    padding: 1rem 5vw;
    /* Padding for content to not touch screen edges */
    display: none;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 99999;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        // background-color: #000000;
        opacity: 1;
        bottom: -100%;
        left: 0px;
        backdrop-filter: blur(10px);
    }
}

.nav-item:hover .mega-menu {
    display: block;
}

.mega-menu-content-old {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    /* Spread out columns */
    max-width: 1200px;
    /* Max-width for the content inside */
    margin: 0 auto;
}

.menu-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.menu-column img {
    width: 150px;
    height: auto;
}

.menu-column h3 {
    margin-top: 0.5rem;
}

.menu-column a {
    text-decoration: none;
    color: #007aff;
    margin-top: 0.5rem;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-list h3 {
    margin: 0;
    font-size: 1.1rem;
}


.cargo-containers-mega-menu {
    .acoustic-megamenu-sec {
        .cnnters-list-flex {
            justify-content: center;

            .cnnter-div {
                width: 20%;

                img {
                    width: 200px;
                    height: 150px;
                }
            }
        }
    }
}

.cntnr-imgg {
    padding-top: 15px;

    img {
        width: 100% !important;
        height: 300px !important;
        object-fit: cover;
        border-radius: 12px;

    }
}

// 20/oct/2024

.home-img-section {
    position: relative;
    width: 100%;
    height: 620px;
    min-height: 620px;
    overflow: hidden;
    border-radius: 15px;
    padding: 60px 15px 25px;
    margin: 50px 15px 0px;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        object-fit: cover;
        z-index: 2;
    }

    video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        object-fit: cover;
        z-index: 2;
    }

    .img-section-content {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 5;

        h1 {
            text-align: center;
            color: #fff;
            font-weight: 600;
            font-size: 46px;
            line-height: 50px;
        }

        p {
            text-align: center;
            color: #fff;
            font-weight: 500;
            font-size: 24px;
            line-height: 30px;

        }

        .btn-sec {
            position: unset !important;
        }
    }
}

.footer-sec {
    padding: 60px 10px;
    background-color: #4b8153;

    .footer-info {
        margin-top: -25px;

        img {
            width: 130px;
            height: 100px;
            object-fit: contain;
            filter: invert(1);
        }

        p {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }
    }

    .fttr-clm {
        h4 {
            font-size: 21px;
            font-weight: 600;
            color: #f1b24b;
            margin-bottom: 20px;
        }

        ul {
            padding: 0px;
            list-style: none;
            display: flex;
            gap: 15px;
            flex-direction: column;

            li {
                a {
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;

                    &:hover {
                        i {
                            color: #f1b24b;
                        }
                    }

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .contact-us-ftr {
        li {
            color: #fff;
            display: flex;
            gap: 10px;
        }

        i {
            width: 25px;
            height: 25px;
            line-height: 25px;
            border-radius: 5px;
            background: #f1b24b;
            text-align: center;
            color: #4b8153;
            font-size: 13px;
        }
    }
}

.socials-icons {
    display: flex;
    gap: 12px;
    justify-content: center;
    height: 70px;

    img {
        width: 35px;
        height: 35px;
        object-fit: contain;
        filter: grayscale(1);
        transition: all 0.3s;

        &:hover {
            margin-bottom: 7px;
            filter: grayscale(0);

        }
    }
}

.copy-right-section {
    padding: 25px 0px 5px;
    margin-top: 40px;
    border-top: 1px solid #c1c1c1a2;
    text-align: center;
    color: #fff;
}

// contact-us-scss

.contact-hdr {
    padding: 85px 0px;
    display: flex;
    gap: 70px;
    align-items: center;

    h1 {
        font-size: 65px;
        line-height: 80px;
        font-weight: 800;
        color: #fff;
    }

    p {
        font-size: 16px;
        // font-weight: 500;
        line-height: 28px;
        color: #fff;
    }
}

.get-in-touch-sec {
    padding: 50px 0px;

    .get-in-touch-lft {
        position: relative;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: -10%;
            z-index: 6;
        }

        .contact-us-map {
            position: relative;
            z-index: 11;
        }
    }

    .get-in-touch-rgt {
        padding-left: 30px;

        h4 {
            font-size: 40px;
            line-height: 60px;
            font-family: 16px;
            color: #fff;
            font-weight: 600;
        }

        p {
            font-size: 16px;
            color: #fff;
            line-height: 30px;
        }

        ul {
            list-style: none;
            padding: 0px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 70px;
                height: 1px;
                background-color: #f1b24b;
            }

            li {
                padding: 5px;
                padding-bottom: 12px;
                display: flex;
                gap: 20px;
                align-items: center;

                span {
                    color: #fff;
                    font-size: 16px;
                    line-height: 28px;

                    i {
                        color: #f1b24b;
                        font-size: 18px;
                    }
                }
            }
        }

        .contact-socials {
            display: flex;
            gap: 25px;
            align-items: center;
            margin-top: 25px;

            i {
                font-size: 18px;
                color: #fff;
                cursor: pointer;

                &:hover {
                    color: #f1b24b;
                }
            }
        }


    }


}

.contact-form-sec {
    padding: 50px 0px;
    position: relative;

    h4 {
        font-size: 40px;
        line-height: 60px;
        font-family: 16px;
        color: #fff;
        font-weight: 600;
    }

    p {
        font-size: 16px;
        color: #fff;
        line-height: 30px;
    }

    .rs-form {
        margin-top: 45px;
        position: relative;
        z-index: 50;

        .rs-form-group {
            margin-bottom: 15px !important;
        }

        .rs-form-control {
            width: 100%;
        }

        .msg-input {
            height: 150px !important;
            vertical-align: top !important;
            line-height: 12px !important;
        }

        .msg-input::placeholder {
            line-height: 1px !important;
            height: 150px !important;
            vertical-align: top !important;
            line-height: 12px !important;
        }

        .rs-form-control-wrapper {
            .rs-input {
                width: 100%;
                height: 45px;
                padding: 12px;
                font-size: 16px;
                font-weight: 500;
            }
        }


    }

    .floting-img {
        position: absolute;
        right: -140px;
        top: 140px;
        z-index: 1;

        img {
            width: 800px;
            height: 100%;
            object-fit: cover;
        }
    }

    .theme-btn-hollow {
        background-color: #f1b24b;
        color: #fff;
        font-weight: 600;
        width: fit-content;
        padding: 12px 55px;
        border: none !important;
    }

}

.contact-us-map {
    padding-left: 100px;
}

.bg-theme-green {
    background-color: #4b8153 !important;
}

.build-sec {
    padding: 90px 0px;
    width: 100%;
    background: url("../public/build-sec-bg.jpg");
    background-size: cover;
    background-position: center right;
    position: relative;

    .row {
        position: relative;
        z-index: 10;
    }

    &::after {
        content: '';
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.4;
        position: absolute;
    }

    h4 {
        font-size: 60px;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1.1em;
        color: #fff;

    }

    p {
        font-size: 16px;
        color: #fff;
        line-height: 30px;
        margin-top: 25px;

    }

    .theme-btn-hollow {
        background-color: #f1b24b;
        color: #fff;
        font-weight: 600;
        width: fit-content;
        padding: 10px 55px;
        margin-top: 35px;
        border: none;

    }

}

.about-us-cntnt {
    .contact-hdr {

        h1 {
            color: var(--green-color);
        }

        p {
            color: #000;
        }

    }

    .who-we-are-sec {
        padding: 65px 0px;
        background-color: #fff;
        text-align: center;

        h4 {
            text-align: center;
            color: #000;
            font-weight: 600;
            font-size: 46px;
            line-height: 50px;
            margin-bottom: 25px;
        }

        p {
            font-size: 16px;
            color: #171717;
            line-height: 32px;
            padding: 20px 150px;
            text-align: center;
            font-weight: 500;
        }

        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            margin-top: 70px;
            border-radius: 10px;

        }
    }
}

.our-service-cards {
    padding: 65px 0px;
    background-color: #fff;
    text-align: center;
    padding-bottom: 100px;


    h4 {
        text-align: center;
        color: #000;
        font-weight: 600;
        font-size: 46px;
        line-height: 50px;
        margin-bottom: 120px;
    }

    .qualities-card {
        border-radius: 8px 8px 8px 8px;
        box-shadow: 0 10px 60px -13px rgba(0, 0, 0, .21);
        padding: 25px 35px;
        height: auto;
        position: relative;
        height: 300px;
        cursor: pointer;

        &:hover {
            .quality-icon {
                transform: scale(1.2);
                transition: all 0.7s;
            }
        }


        h5 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 15px;
            margin-top: 40px;
            color: #171717;
        }

        p {
            font-size: 16px;
            line-height: 26px;
            margin-top: 25px;
        }
    }

    .quality-icon {
        width: 72px;
        height: 72px;
        line-height: 72px;
        border-radius: 50%;
        background-color: var(--green-color);
        text-align: center;
        color: #fff;
        display: block;
        padding: 5px;
        position: absolute;
        top: -38px;
        left: 38%;


        i {
            font-size: 35px;
        }
    }

}

.what-we-do-sec {
    padding: 80px 0px;
    background-color: #f0f0f0;

    h4 {
        color: #000;
        font-weight: 600;
        font-size: 38px;
        line-height: 50px;
        margin-bottom: 20px;
    }


    p {
        font-size: 16px;
        line-height: 32px;
        margin-top: 25px;
        color: var(--text-color);
        font-weight: 500;
    }

    .text-green {
        font-weight: 600;
        font-size: 18px;
    }

    img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 15px;
    }

    .exp-img {
        width: 100%;
        height: 150px;
        object-fit: contain;
        margin-top: 30px;
    }
}

.text-green {
    color: var(--green-color) !important;
}

.services-point-list {
    margin-top: 30px;
    list-style: none;
    padding-left: 0px;

    li {
        font-size: 16px;
        line-height: 32px;
        color: var(--text-color);
        font-weight: 500;
        padding: 3px;

        i {
            margin-right: 12px;
            color: var(--green-color);
            font-size: 10px;

        }
    }
}


.section-heading {
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 46px;
    line-height: 50px;
    margin-bottom: 80px;
}

.meet-our-team-sec {
    padding: 65px 0px;

    .team-member {
        img {
            width: 100%;
            border-radius: 12px;
            height: 350px;
            object-fit: cover;
            object-position: center;
        }

        h6 {
            font-size: 18px;
            font-weight: 600;
            margin: 15px 0px 5px;
            color: #171a20;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            color: #5a5959;
        }
    }
}


.counter-number-sec {
    padding: 120px 0px;
    background-color: #f0f0f0;

    .number-div {
        text-align: center;

        h6 {
            font-size: 65px;
            color: #4b8153;
            line-height: 65px;
            font-weight: 700;
        }

        p {
            font-size: 18px;
            color: #171717;
            font-weight: 500;
            line-height: 25px;
            margin-top: 15px;
        }
    }
}


.our-mission-vision {
    padding: 65px;


    p {
        font-size: 16px;
        line-height: 32px;
        margin-top: 25px;
        color: var(--text-color);
        font-weight: 500;
        text-align: center;
    }

    h4 {
        margin-bottom: 35px;
    }

    img {
        width: 100%;
        padding: 25px;
        height: 400px;
        object-fit: cover;
    }


}

.about-contact-sec {
    width: 100%;
    height: 350px;
    object-fit: cover;
    position: relative;
    background-image: url('/about-contact-img.png');
    background-size: cover;
    padding: 80px;


    .about-cntnt-contact {
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }


    p {
        font-size: 21px;
        line-height: 30px;
        font-weight: 500;
        color: #4b8153;
        margin-bottom: 8px;
    }

    h4 {
        font-size: 38px;
        font-weight: 600;
        line-height: 45px;
        color: #000000;

    }

}

.our-partner-sec {
    padding: 65px 0px;

    .marquee {
        overflow: hidden;
        white-space: nowrap;
        display: flex;
        align-items: center;
    }

    .marquee-content {
        display: inline-flex;
        animation: scroll 15s linear infinite;
    }

    .marquee-content img {
        margin-right: 20px;
        /* Adjust spacing as needed */
        height: 100px;
        /* Set desired height */
        width: auto;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }

}

.top-banner-bg {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-image: url('/top-banner-bg.png');
    background-size: cover;

    .contact-hdr {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff !important;
        gap: 20px;

        h1 {
            color: #fff;
            font-size: 51px;
        }

        p {
            color: #fff;
            line-height: 30px;
            text-align: center;
            width: 60%;
        }
    }

}

// 09/11/2024

.cntnt-start-text {
    padding: 60px 0px 25px;

    p {
        color: #4b8153;
        font-size: 21px;
        line-height: 21px;
        font-weight: 500;
    }

    h6 {
        color: #000;
        font-weight: 600;
        font-size: 30px;
        line-height: 50px;
        margin-bottom: 25px;
    }
}

.category-hdng {
    color: #4b8153;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 40px;
}

.products-list {
    .product-item {
        padding: 20px;
        width: 100%;
        border: 1px solid #e9e9e9;
        border-radius: 10px;

        .product-item-cntnt {


            img {
                width: 100%;
                height: 350px;
                object-fit: cover;
                border-radius: 10px;
            }

            h4 {
                color: var(--text-color);
                font-size: 21px;
                line-height: 30px;
                font-weight: 600;
                line-height: 32px;
                margin-bottom: 0px;
                margin-top: 15px;
                cursor: pointer;

                &:hover {
                    color: var(--green-color);
                }

            }

            p {
                color: #4b8153;
                font-size: 18px;
                line-height: 30px;
                font-weight: 500;
                margin-bottom: 0px;
                margin-top: 3px;
            }
        }
    }
}

.our-services {
    .what-we-do-sec {
        background-color: #fff;

        h4 {
            font-size: 35px;
            line-height: 45px;
        }
    }

    .qualities-card{
        background-color: #fff;
    }


}


.bg-grey {
    background-color: #f0f0f0 !important;
}

.mt-10{
    margin-top: 100px;
}

.cms-pages{
    color: #fff;
    padding: 80px 0px;

    p,li{
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 15px;

        i{
            font-size: 6px;

            margin-bottom: 3px;
            margin-right: 3px
        }
    }

    h5{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #f1b24b;
    }

    ul{
        margin-top: 20px;
    }

    a{
        color: #f1b24b;
    }
    
}